html,
body {
	display: flex;
	width: 100%;
	height: auto;
}

body {
	align-items: center;
	justify-content: center;
}

h2 {
	display: inline;
	color: red;
}

.submitBtn {
	height: $base-unit * 6;
}

.topiary__container {
	width: 95%;
	max-width: 960px;
	margin: auto;
	padding: $base-unit * 2;
	flex-direction: column;
	@include desktop() {
		max-width: 1170px;
		width: 100%;
	}
	&--addMoneySection,
	&--removeMoneySection,
	&--makeChangeSection{
		padding:0px;
		margin:0px;
		margin-top: $base-unit * 4;
	}
	&--addMoneySection{

	}
}
